.header {
    display: flex;
    justify-content: flex-start;
    padding: 0 0 41px 0;
    margin: 0;
    border-bottom: 1px solid #545454;
    width: 880px;
}


@media screen and (max-width: 880px) and (min-width: 581px) {
    .header {

        width: 581px;   

    }
}


@media screen and (max-width: 581px) {
    .header {
        width: 282px;
        padding: 0 0 32px 0;
    }
    
}